.my-btn {
  border: 1px solid #dae0e6;
  color: #272d37;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  padding: 10px 16px;
   transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.my-btn:focus,
.my-btn:hover,
.my-btn:active {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #191a15;
  color: #ffffff;
   transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
}
.btn-blackbg {
  background-color: #191a15;
  color: #ffffff;
}
.btn-whitebg {
  background-color: #ffffff;
  color: #000000;
}
.my-btnwidth{
  width: 130px;
}
.btn-orangebg {
  background-color: #ffd416 !important;
  color: #000000 !important;

}
.btn-orangebg:hover{
    background-color: #ffd000 !important;
}
.my-progress {
  background-color: #e9ecef; /* Light background for progress container */
}
.my-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  transition: width 5s ease;
}
.progress-bar-custom {
  width: 0%;
  transition: width 2s ease;
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -ms-transition: width 2s ease;
  -o-transition: width 2s ease;
}

.progress-bar-custom.animate {
  width: 75%; /* Final width for animation */
}
