/* Header.css */
.header {
  border-bottom: 1px solid #ededed;
}

.custom-navbar {
  background-color: #fff;
}

.custom-navbar .navbar-brand {
  color: #343a40;
  font-weight: bold;
  width: 120px;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

.custom-navbar .navbar-nav .nav-link {
  color: #18191f;
  font-size: 16px;
  font-style: normal;
  line-height: 143%;
  padding-left: 0;
  padding-right: 0;
}

.custom-navbar .navbar-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 32px;
}

.custom-navbar .navbar-nav .nav-link.active,
.custom-navbar .navbar-nav .nav-link.show {
  color: #18191f;
}

.custom-navbar .nav-link:focus,
.custom-navbar .nav-link:hover {
  color: #18191f;
}
.custom-navbar .navbar-brand img {
  width: 100%;
}
.custom-navbar .nav-item {
  position: relative;
}
.custom-navbar .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #ffd416;
  transition: 0.3s ease;
  transform: translateX(-50%);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.custom-navbar .nav-item .nav-link:hover::after {
  width: 100%;
}
