body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}
.F-400 {
  font-weight: 400 !important;
}
.F-500 {
  font-weight: 500 !important;
}
.F-600 {
  font-weight: 600 !important;
}
.F-700 {
  font-weight: 700 !important;
}
.F-800 {
  font-weight: 800 !important;
}
.FS-20 {
  font-size: 16px;
}
.FS-24 {
  font-size: 24px;
}
.FS-32 {
  font-size: 32px;
}
.FS-42 {
  font-size: 42px;
}
.Myline {
  margin-top: 1px solid #d1d1d1;
}
.container {
  max-width: 1440px;
}
.my-heading {
  color: #18191f;
  font-size: 52px;
  font-style: normal;
  line-height: 143%;
  letter-spacing: -1.12px;
}
.my-para {
  color: #18191f;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  line-height: 133%;
  margin-bottom: 0;
}
.Black-bg {
  background-color: #030406;
}
.Gray-bg {
  background-color: #f8f9fb;
}
.My-bioleft .my-heading {
  color: #ffffff;
}
.My-bioright {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.My-bioright img {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.orange-color {
  color: #ffd416 !important;
}
.White-color {
  color: #fff !important;
}
.L-sidecontent,
.R-sidecontent {
  width: 50%;
}
.Img-border {
  height: 800px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.img-position {
  position: absolute;
}
.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.heading-2 {
  color: #18191f;
  font-size: 36px;
  font-style: normal;
  line-height: 143%;
  letter-spacing: -1.12px;
}
.heading-3 {
  color: #18191f;
  font-size: 20px;
  font-style: normal;
  line-height: 143%;
  letter-spacing: -1.12px;
}
.red-color {
  color: #eb2411;
}

.Ex-box {
  padding: 15px;
  margin: 20px 120px;
  color: #ffd416;
  background-color: #e4e6e3;
  background: rgba(0, 0, 0, 0.3);
}
.My-card{
  /* padding: 24px 24px 40px; */
  border-radius: 12px;
  border: 0px solid #E8E9EE;
  background: #FFF;
  box-shadow: 1px 0 6px 2px #0000001c;
}
.My-card-header {
  height: 280px;
  overflow: hidden;
  position: relative;
}

.My-card-header img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.My-card-header:hover > img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.My-card-body {
  padding: 8px 20px 8px 20px;
}
/* Modal Styles */
.My-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Prevents clicks */
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Fade-in effect */
}

.My-modal.open {
  opacity: 1; /* Fully visible */
  visibility: visible; /* Allows clicks */
  transition: opacity 0.3s ease; /* Fade-out effect */
}

.My-modal-content {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.My-modal-content img {
  max-width: 100%;
  max-height: 70vh;
  margin-bottom: 10px;
  box-shadow: 1px 0 6px 2px #0000001c;
}

.My-modal-content p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.My-modal-content .close {
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
